{% macro render_header(page, from_index=false) %}
  {% if not page.header_code %}
    <div id="header" class="jumbotron"
      {% if page.header_image %}
        style="
          background-image: url('{{ page.header_image }}');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;"
      {% endif %}
      >
        <div class="container">
          <h1>{{ page.title }}</h1>
          <p>{{ page.summary }}</p>
      </div>
    </div>
  {% else %}
    {{ page.header_code }}
  {% endif %}
{% endmacro %}
