{% extends "layout.html" %}
{% from "macros/header.html" import render_header %}
{% from "macros/draft.html" import render_draft_warning %}
{% from "macros/children.html" import render_child_links %}
{% from "macros/sidebar.html" import render_sidebar %}

{% block title %}
  {{ this.title }}
{% endblock %}

{% block header %}
  <div class="jumbotron">
      <div class="container">
          <div class="row-fluid">
            <div class="hidden-md-down col-lg-3 col-xl-3">
              <img class="img-fluid" src="/static/images/logo-270x270.png">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-md-9 col-lg-7 col-xl-7">
              <h1 class="display-1">Ventilator-Python</h1>
            </div>
      </div>
  </div>
</div>
{% endblock %}

{% block body %}
    <div class="container">
      <div class="row-fluid">
        <div class="col-sm-12 col-md-8">
          <p>This website contains information collected from mechanical ventilators and analyzed
          using the Python computer language. It is of interest to Neonatologists, Intensivists,
          Respiratory Therapists, Engineers designing ventilators and Data Analysts.
          Data were downloaded from the Draeger Babylog VN500 neonatal ventilator in comma-separated values
          (.csv) format. However, the analysis method and the data are generalizable to other ventilators
          that allow digital download of raw ventilation data in any plain text format.
          That function is becoming increasingly available on novel ventilators.</p>

          <p>The Code repository contains downloadable Python code in .ipynb (IPython Notebook) format.
          The visitor can download the code re-use it to analyze its own data.</p>

          <p>"One figure is worth a thousand words". The teaching resources section shows instructive
          graphs and images illustrating important ventilation concepts  and phenomena with explanation.</p>

          <p>The Supplements are data (tables, graphs and code) that can not be fitted in publications
          and supplementing those.</p>

          <p>There are also important links for Python Data Analysts and people interested
          in Mechanical ventilation or Neonatology in general.</p>
        </div>
      </div>
    </div>
{% endblock %}
